@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bd-bottom: #999999;
  --color-bx-shadow: #00000040;
  --color-bg-down: #666666;
  --color-bg-body: #fff;
  --color-green: #009966;
  --font-size-p: 1.25rem;
  --line-hieght-p: 1.5;
}

.highlight-green {
  color: var(--color-green);
  font-weight: 800;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: var(--color-bg-body);
}

main {
  display: grid;
  min-height: 50%;
  padding: 4rem 0;
  border-top: var(--color-bd-bottom) 8px solid;
  background-color: var(--color-bg-down);
}

.header__content {
  margin: 4.5rem auto 3rem auto;
  padding-left: 1rem;
  max-width: 800px;

  & h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
  }

  & p {
   max-width: 420px;
  }
}

.intro {
  font-size: var(--font-size-p);
  line-height: var(--line-hieght-p);

  & p:first-child {
    padding-bottom: 1.5rem;
  }
}

.card {
  width: 100%;
  max-width: 800px;
  place-self: center;
  /* position: relative; */
  box-shadow: 0 4px 4px 0 var(--color-bx-shadow);
  background-color: var(--color-bg-body);
  border-bottom: var(--color-bd-bottom) 8px solid;
  padding-top: 0.8rem;
}

.card h2 {
  display: inline-block;
  top: 7px;
  padding: 0.8rem 1.5rem;
  font-size: 1.7rem;
  /* position: absolute; */
  font-weight: 800;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
  transform: translateX(-10px);
  margin: -5px 20px 0 0;
}

.card__content {
  padding: 1.2rem;
  line-height: var(--line-hieght-p);
  font-size: var(--font-size-p);
  font-weight: 400;
  font-size: 20px;

  & p:first-of-type {
    margin-bottom: 1rem;
  }
}