* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;;
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

.main-container {
    background-color: #a4a9cd;
    width: 41em;
    height: 33.5em;
    padding: 3.125em;
}

.card {
        background-color: #fff;
        border-radius: 0.625em;
        width: 22em;
        height: 26.5em;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: auto;
}

.card-header {
    background-color: #fff4b4;
    color: #111;
    font-family: "Merriweather", serif;;
    font-weight: bold;
    padding: 0.5em 0.3em 0.5em 0;
    font-size: 0.8em;
    width: 12.6em;
    height: 2.5em;
    border-radius: 0.3em 1.2em 1.2em 0.3em;
    top: 0.6em;
    left: -0.5em;
    position: absolute;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
    overflow: hidden;
}

.Novus {
    text-align: left;
    margin: 1em;
}

h1 {
    color: #131313;
    font-size: 1.2em;
}

span {
    color: #acacac;
    font-size: 0.625em;
    font-weight: 400;
}

p {
    text-align: left;
    margin: 0.1em 1em -1em 1em;
    font-size: 0.8em;
}